body {
    background-image: url("../images/paintingbackground.jpg");
    background-size: cover;
}

.jumbotron {
    background: rgba(211, 211, 211, .5);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
    padding-bottom: 2rem;
}

.jumbotron p {
    margin: 0 auto;
    width: 60%;
    padding: 15px;
}

.container{
    margin-top: 10%;

}

#question-answer-container {
    visibility: hidden;
    background: rgba(211, 211, 211, .5);
    width: 80%;
    margin: 0 auto; 
    margin-bottom: 10%;  
    padding: 20px; 
}

.choicesButtons {
    margin: 5%;
    padding: 20px;
    width: 300px;
}



